app
blinker
click
Flask
Flask-CLI
Flask-Cors
Flask-MySQLdb
gunicorn
itsdangerous
Jinja2
MarkupSafe
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.15.tar.gz
mysql-python
MySQL-python
MySQL-python-connector
packaging
PyMySQL
typing_extensions
Werkzeug
