app
blinker
click
Flask
Flask-CLI
Flask-Cors
Flask-MySQLdb
gunicorn
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python==2.1.15
mysql-python
MySQL-python
MySQL-python-connector
packaging
PyMySQL
typing_extensions
Werkzeug
